.chart-modal {
    .reveal {
        width: 90vw;
        height: 90vh;
        top: 10px;
    }

    .chart-modal__links__wrapper {
        display: flex;
        justify-content: space-between;

        .current {
            color: white;
            background-color: map-get($foundation-palette, 'primary');
        }

        .chart-modal__links__left {
            display: flex;
        }

        a {
            padding: 0.3rem 1rem;
        }
    }
}

.periodic-table-modal {
    .reveal {
        width: 90%;
    }

    td {
        padding: 0;
    }
}
