.table-header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: 'prev current next';
    align-items: center;

    h1 {
        margin-bottom: 0;
    }
}

.table-header__info-button {
    background-color: grey;
    font-size: 1.2rem;
    width: 1em;
    height: 1em;
    display: block;
    padding: 0;
    color: white;
    border-radius: 1em;
    font-weight: 700;
}

.table-header__title {
    display: flex;
    justify-content: center;
}

.button {
    margin-right: 1px;
    background-color: map-get($foundation-palette, 'primary');
    border: none;

    ::last-child {
        margin-right: none;
    }
}

.dropdown {
    position: inherit;

    > li {
        position: inherit;
    }
}

.vertical {
    position: absolute;
    z-index: 10;
}

.view-option__unselected {
    color: grey;
}

.top-bar-left {
    display: flex;
    align-items: center;
}

.periodic-table-modal {
    .reveal {
        width: 90%;
    }

    td {
        padding: 0;
    }
}

.chart-modal {
    .reveal {
        width: 90vw;
        height: 90vh;
        top: 10px;
    }

    .chart-modal__links__wrapper {
        display: flex;
        justify-content: space-between;

        .chart-modal__links__left {
            display: flex;
        }

        a {
            padding: 0 1rem;
        }
    }
}

.menu__ether {
    li {
        display: flex;
        align-items: center;
    }
}

.link-base.current {
    background-color: map-get($foundation-palette, 'primary');
    padding: 0 6px;

    a {
        color: white;
    }
}
